body{
    font-family: sans-serif;
    background-color:#F5F5F5;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main{
    height: fit-content;
    border: 0.01px solid rgb(212, 206, 206);
    width: fit-content;
    background-color: white;
    filter: blur(7px);
}
h1{
    font-size: 50px;
    display: inline;
    
}
span{
    font-size: 47px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: grey;
}
.heading{
    display: flex;
    justify-content:space-between;
    align-items:center ;
    width: 300px;
    margin-top: 38px;
    margin-bottom :38px;
}
i{
    color: rgb(233, 125, 86);
    font-size: 33px;
    padding-top: 13px;
}
.box{
    width: 100%;
    height: 70px;
    border: 1px solid rgb(250, 187, 164);
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 7px;
    display: flex;
   align-items: center;
   box-shadow: 3px 4px 6px  rgb(226, 214, 214);
}

.sub{
    margin: 15px;
    margin-right: 40px;
}
.text{
    padding-left: 20px;
    font-size: 20px;
    color: rgba(90, 7, 21, 0.466);
}
.five{
    margin-bottom: 40px;
}
.main1{
    border: 1px solid rgb(212, 206, 206);
}
#text
{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(233, 125, 86);
}
#submit{
     border-radius: 50px;
     border: 2px solid rgb(233, 125, 86);
     font-size: 20px;
     background-color:rgb(233, 125, 86) ;
     color: white;
     width: 80px;

}
.new
{
    color: rgb(233, 125, 86);
    font-size: 20px;
    margin: 0px;
}
.blur{
    position: relative;
    top: -500px;
    left: 39.5%;
    width: 310px;
    height: 180px;
    border: 1.75px solid  rgb(233, 125, 86);
    box-shadow: 5px 7px  14px rgb(214, 201, 201);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
