body{
    margin: 0px;
    background-color: #F5F5F5
}
.heading{
    display: flex;
    align-items: center;
    margin: 20px;
}
h1
{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    letter-spacing: 1.05px;
    font-weight: 700;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.sub{
    height:575px;
    border: 0.01px solid rgb(212, 206, 206);
    background-color: white;
    width: 345px;
    filter: blur(7px);
}

.one{
    position: relative;
    left: 170px;
    top: 7px;
}
.two{
    position: relative;
    right: 170px;
    top: 7px;
}
.back{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.i{
    color: rgb(233, 125, 86);
    margin-right: 15px;
    font-size: 30px;
}
span{
    position: relative;
    bottom: 6px;
    font-size:27px;
    color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.todo{
    height:400px ;
    width:250px;
    border: 1.75px solid rgb(233, 125, 86);
    border-radius: 10px;
    box-shadow: 5px 7px  14px rgb(167, 166, 166);
    position: relative;
    left: 45px;
}
.h{
    position: relative;
    border-bottom: 2px solid grey;
    top: 20px;
    left: 70px;
    width: 180px;
    height: 45px;

}

.one1{
    display: inline-block;
    font-size: 25px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 125, 86);
    margin: 0px;
}
.complete{
    color: red;
    text-decoration-thickness: 3px;
    text-decoration-line: line-through;
    font-size: 20px;
    padding-top: 20px;
    font-family:sans-serif;
    font-weight: 300px;
    position: relative;
    left: 70px;
}
.pt{
    font-size: 20px;
    padding-left: 5px;
    color: black;
    font-family:sans-serif;
    position: relative;
    bottom: 2.5px;
    left: 30px;
}
#cb{
    height: 17px;
    width: 17px;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    left: 30px;
}
.fa-plus-circle{
    color: rgb(233, 125, 86);
    font-size: 33px;
    position: relative;
    top: 200px;
    left: 40px;
}
#text
{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(233, 125, 86);
}
#submit{
     border-radius: 50px;
     border: 2px solid rgb(233, 125, 86);
     font-size: 20px;
     background-color:rgb(233, 125, 86) ;
     color: white;
     width: 80px;

}
.new
{
    color: rgb(233, 125, 86);
    font-size: 20px;
    margin: 0px;
}
.blur{
    position: relative;
    top: -450px;
    left: 39.5%;
    width: 310px;
    height: 180px;
    border: 1.75px solid  rgb(233, 125, 86);
    box-shadow: 5px 7px  14px rgb(214, 201, 201);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.main1{
    border: 1px solid rgb(212, 206, 206);
}
